@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@import 'tailwindcss';

@layer base {
    :root {
        --radius: 0.5rem;
        --background: #f9fafb; /* Light gray background */
        --foreground: #171717; /* Dark text */
        --primary: #f4a900; /* Honey (Golden Yellow) */
        --secondary: #000000; /* Black */
        --accent: #fcdb80; /* Lighter Honey */
        --font-sans: var(--font-work-sans);
    }
}

@layer utilities {
    .text-primary {
        color: var(--primary);
    }

    .text-secondary {
        color: var(--secondary);
    }

    .text-foreground {
        color: var(--foreground);
    }

    .bg-primary {
        background-color: var(--primary);
    }

    .bg-secondary {
        background-color: var(--secondary);
    }

    .bg-accent {
        background-color: var(--accent);
    }
    .flex-between {
        @apply flex justify-between items-center;
    }

    .text-30-extrabold {
        @apply text-[30px] font-extrabold;
        color: var(--foreground);
    }

    .text-30-bold {
        @apply text-[30px] font-bold;
        color: var(--secondary);
    }

    .text-30-semibold {
        @apply font-semibold text-[30px];
        color: var(--secondary);
    }

    .text-26-semibold {
        @apply font-semibold text-[26px];
        color: var(--secondary);
    }

    .text-24-black {
        @apply text-[24px] font-black;
        color: var(--secondary);
    }

    .text-20-medium {
        @apply font-medium text-[20px];
        color: var(--secondary);
    }

    .text-16-medium {
        @apply font-medium text-[16px];
        color: var(--secondary);
    }

    .text-14-normal {
        @apply font-normal text-sm;
        color: var(--foreground);
        opacity: 0.8;
    }
    .pink_container {
        @apply w-full min-h-[530px] flex justify-center items-center flex-col py-10 px-6;
        background-color: var(--primary);
        background-image: repeating-linear-gradient(
            to right,
            rgba(255, 255, 255, 0.2) 0px,
            rgba(255, 255, 255, 0.2) 2px,
            transparent 2px,
            transparent 20px
        );
        background-size: 100% 100%;
    }

    .tag {
        @apply px-6 py-3 font-sans font-bold rounded-sm uppercase relative;
        background-color: var(--accent);

        /* Triangle decorations */
        content: '';
        /* position: absolute; */
    }

    .tag::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        border-top: 10px solid black;
        border-right: 10px solid transparent;
    }

    .tag::after {
        content: '';
        position: absolute;
        bottom: 5px;
        right: 5px;
        border-bottom: 10px solid black;
        border-left: 10px solid transparent;
    }

    .heading {
        @apply uppercase px-6 py-3 font-sans font-extrabold sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
        background-color: var(--secondary);
        color: var(--background);
    }

    .sub-heading {
        @apply font-medium text-[20px] max-w-2xl text-center break-words;
        color: var(--background);
    }

    .section_container {
        @apply px-6 py-10 max-w-7xl mx-auto;
    }

    .card_grid {
        @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
    }

    .no-result {
        @apply text-sm font-normal;
        color: var(--foreground);
    }

    .profile_card {
        @apply w-80 px-6 pb-6 pt-20 flex flex-col justify-center items-center border-[5px] shadow-red-100 rounded-[30px] relative z-0 h-fit max-lg:w-full;
        background-color: var(--primary);
        border-color: var(--secondary);
    }

    .startup-card {
        @apply border-[5px] py-6 px-5 rounded-[22px] shadow-red-200 transition-all duration-500 hover:shadow-red-300;
        background-color: var(--background);
        border-color: var(--secondary);
    }

    .startup-card:hover {
        border-color: var(--primary);
        background-color: var(--accent);
    }

    .startup-card_date {
        @apply font-medium text-[16px] px-4 py-2 rounded-full;
        background-color: var(--accent);
    }

    .startup-card_desc {
        @apply font-normal text-[16px] line-clamp-2 my-3 break-all;
        color: var(--foreground);
    }

    .startup-card_btn {
        @apply rounded-full font-medium text-[16px] px-5 py-3;
        background-color: var(--secondary);
        color: var(--background);
    }

    .search-form {
        @apply max-w-3xl w-full min-h-[80px] border-[5px] rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
        background-color: var(--background);
        border-color: var(--secondary);
    }

    .search-input {
        @apply flex-1 font-bold placeholder:font-semibold w-full h-auto outline-none;
        color: var(--foreground);
    }

    .search-input::placeholder {
        color: gray;
    }

    .search-btn {
        @apply size-[50px] rounded-full flex justify-center items-center;
        background-color: var(--secondary);
    }
    .view-container {
        @apply flex justify-end items-center mt-5 fixed bottom-3 right-3;
    }

    .view-text {
        @apply font-medium text-[16px]  px-4 py-2 rounded-lg capitalize;
        background-color: var(--accent);
    }
    .category-tag {
        @apply font-medium text-[16px] px-4 py-2 rounded-full;
        background-color: var(--accent);
    }
}
.pattern {
    background-image: linear-gradient(
        to right,
        transparent 49.5%,
        rgba(244, 169, 0, 0.2) 49.5%,
        rgba(244, 169, 0, 0.6) 50.5%,
        transparent 50.5%
    );
    width: 100%;
    min-height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 6px;
}

:root {
    /* --background: oklch(1 0 0); */
    /* --foreground: oklch(0.129 0.042 264.695); */
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.129 0.042 264.695);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.129 0.042 264.695);
    /* --primary: oklch(0.208 0.042 265.755); */
    --primary-foreground: oklch(0.984 0.003 247.858);
    /* --secondary: oklch(0.968 0.007 247.896); */
    --secondary-foreground: oklch(0.208 0.042 265.755);
    --muted: oklch(0.968 0.007 247.896);
    --muted-foreground: oklch(0.554 0.046 257.417);
    /* --accent: oklch(0.968 0.007 247.896); */
    --accent-foreground: oklch(0.208 0.042 265.755);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.929 0.013 255.508);
    --input: oklch(0.929 0.013 255.508);
    --ring: oklch(0.704 0.04 256.788);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.984 0.003 247.858);
    --sidebar-foreground: oklch(0.129 0.042 264.695);
    --sidebar-primary: oklch(0.208 0.042 265.755);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.968 0.007 247.896);
    --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
    --sidebar-border: oklch(0.929 0.013 255.508);
    --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(0.984 0.003 247.858);
    --card: oklch(0.129 0.042 264.695);
    --card-foreground: oklch(0.984 0.003 247.858);
    --popover: oklch(0.129 0.042 264.695);
    --popover-foreground: oklch(0.984 0.003 247.858);
    --primary: oklch(0.984 0.003 247.858);
    --primary-foreground: oklch(0.208 0.042 265.755);
    --secondary: oklch(0.279 0.041 260.031);
    --secondary-foreground: oklch(0.984 0.003 247.858);
    --muted: oklch(0.279 0.041 260.031);
    --muted-foreground: oklch(0.704 0.04 256.788);
    --accent: oklch(0.279 0.041 260.031);
    --accent-foreground: oklch(0.984 0.003 247.858);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.279 0.041 260.031);
    --input: oklch(0.279 0.041 260.031);
    --ring: oklch(0.446 0.043 257.281);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.208 0.042 265.755);
    --sidebar-foreground: oklch(0.984 0.003 247.858);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.279 0.041 260.031);
    --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
    --sidebar-border: oklch(0.279 0.041 260.031);
    --sidebar-ring: oklch(0.446 0.043 257.281);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
